#body {
    background-image: url("https://cdn.pixabay.com/photo/2019/06/05/09/32/the-background-4253291_1280.jpg");
    background-position: center;
    background-size: cover;
}
#header {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}
#header-logo {
    height: 80px;
}
#jumbotron {
    height: 600px;
}
.card {
    margin: 20px auto;
}